{% load my_tags %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3  col-10 mx-auto">
    {% for product in product_list %}
    <div class="col">
        <div class="card shadow-sm" style="min-width: 304px;">
            <img src="{{ product.image | media_filter }}" style="height: 200px; width: max-content">
            <div class="card-body">
                <p class="card-text">Название: {{ product.name|title }}</p>
                <p class="card-text">Категория: {{ product.category.name|title }}</p>
                <p class="text-body-secondary">{{ product.price }} руб.</p>
                <div class="">
                    <div class="">
                        <a type="button" class="btn btn-sm btn-outline-secondary"
                           href="{% url 'catalog:product_detail' product.pk %}">Подробнее</a>
                        <a type="button" class="btn btn-sm btn-outline-secondary"
                           href="{% url 'catalog:product_update' product.pk %}">Редактировать</a>
                        <a type="button" class="btn btn-sm btn-outline-secondary"
                           href="{% url 'catalog:product_delete' product.pk %}">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>