{% extends 'catalog/base.html' %}

{% block content %}
<div class="row">
    <div class="col-6 mx-auto">

        <form method="post" enctype="multipart/form-data">
            <div class="text-center">
                <p class="mt-4">Изменить данные товара:</p>
            </div>
            <div class="card">
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Создать
                        {% endif %}
                    </button>
                </div>
            </div>
            {% if versions > 0 %}
            <div class="text-center">
                <p class="mt-4">Измените версию товара при желании:</p>
            </div>
            <div class="card m-4">
                <div class="card-body">
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                    {{ form.as_p }}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}